In [2]:
import pandas as pd

dummy = pd.read_csv("bmw.csv",squeeze=True)

In [3]:
dummy

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

In [4]:
mask1=dummy["fuelType"] =="Diesel"
mask2=dummy["engineSize"] ==int(1.0)

In [8]:
dummy[mask1 | mask2]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
5,5 Series,2016,14900,Automatic,35309,Diesel,125,60.1,2.0
...,...,...,...,...,...,...,...,...,...
10775,X4,2015,20000,Automatic,44147,Diesel,200,47.9,3.0
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

In [16]:
dummy[ (dummy["fuelType"].notnull()) & (dummy["year"] == 2020) ]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
166,X1,2020,31498,Semi-Auto,1560,Diesel,145,60.1,2.0
167,2 Series,2020,27998,Manual,1580,Petrol,150,43.5,1.5
168,X5,2020,54998,Semi-Auto,1500,Diesel,150,37.7,3.0
170,2 Series,2020,25998,Automatic,3160,Hybrid,140,113.0,1.5
171,1 Series,2020,31998,Semi-Auto,1560,Diesel,150,48.7,2.0
...,...,...,...,...,...,...,...,...,...
10057,2 Series,2020,31590,Manual,980,Petrol,145,43.5,1.5
10065,2 Series,2020,25000,Automatic,2980,Petrol,145,40.9,1.5
10108,X2,2020,33890,Automatic,1980,Petrol,145,34.0,2.0
10114,3 Series,2020,43880,Automatic,5980,Hybrid,135,8.8,2.0
10713,3 Series,2020,23899,Automatic,1255,Petrol,150,47.9,2.0

In [23]:
dummy[dummy["price"].between(50000,70000)].sort_values(by=["price","year"])

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
281,X5,2019,50000,Semi-Auto,5145,Diesel,150,37.7,3.0
401,M4,2020,50000,Semi-Auto,700,Petrol,145,34.0,3.0
6653,X5,2019,50382,Semi-Auto,4846,Diesel,150,37.7,3.0
2433,7 Series,2019,50390,Semi-Auto,2218,Petrol,145,33.6,3.0
4303,X5,2019,50480,Automatic,6215,Diesel,145,37.7,3.0
...,...,...,...,...,...,...,...,...,...
7044,X7,2019,69995,Semi-Auto,5283,Diesel,145,33.6,3.0
9993,M5,2019,69995,Automatic,3700,Petrol,145,24.1,4.4
4611,X7,2020,69995,Semi-Auto,1501,Diesel,145,33.6,3.0
5713,X6,2020,69995,Semi-Auto,999,Diesel,145,34.9,3.0
6060,M5,2019,70000,Automatic,6568,Petrol,145,24.1,4.4