In [13]:
import pandas as pd
import numpy as np
data= pd.read_csv("James Bond.csv",squeeze=True,usecols=["Film","Year","Adjusted budget","Adjusted box office"])
#usecols=["release_date","budget","original_title","popularity"]
#usecols=["Film","Year","Adjusted budget","Actual box office"]
data

data["Profit in perc."]=(data["Adjusted box office"]/data["Adjusted budget"])*100.00

data.sort_values("Profit in perc.",inplace=True)


mask=(data['Profit in perc.'] > 400).values
print(mask)
data.iloc[mask]
data.set_index("Film",inplace=True)

[False False False False  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]

In [14]:
data

,Year,Adjusted box office,Adjusted budget,Profit in perc.
Film,,,,
The World is Not Enough,1999,439.5,158.3,277.637397
Quantum of Solace,2008,514.2,181.4,283.461963
Die Another Day,2002,465.4,154.2,301.815824
Tomorrow Never Dies,1997,463.2,133.9,345.929798
Casino Royale,2006,581.5,145.3,400.206469
Licence to Kill,1989,250.9,56.7,442.504409
The Living Daylights,1987,313.5,68.8,455.668605
A View to a Kill,1985,275.2,54.5,504.954128
Skyfall,2012,879.8,158.1,556.483238
Moonraker,1979,535.0,91.5,584.699454
GoldenEye,1995,518.5,76.9,674.252276
Octopussy,1983,373.8,53.9,693.506494
For Your Eyes Only,1981,449.4,60.2,746.511628
On Her Majesty's Secret Service,1969,291.5,37.3,781.501340
You Only Live Twice,1967,514.2,59.9,858.430718
The Spy Who Loved Me,1977,533.0,45.1,1181.818182
The Man with the Golden Gun,1974,334.0,27.7,1205.776173
Diamonds Are Forever,1971,442.5,34.7,1275.216138
Live and Let Die,1973,460.3,30.8,1494.480519
Thunderball,1965,848.1,41.9,2024.105012
From Russia With Love,1963,543.8,12.6,4315.873016
Goldfinger,1964,820.4,18.6,4410.752688
Dr. No,1962,448.8,7.0,6411.428571

In [15]:
data.loc["Thunderball"]

Year                   1965.000000
Adjusted box office     848.100000
Adjusted budget          41.900000
Profit in perc.        2024.105012
Name: Thunderball, dtype: float64

In [29]:
data.iloc[2]

Year                   2002.000000
Adjusted box office     465.400000
Adjusted budget         154.200000
Profit in perc.         301.815824
Name: Die Another Day, dtype: float64

In [40]:
data.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [41]:
data

,level_0,index,Film,Year,Adjusted box office,Adjusted budget,Profit in perc.
0,0,0,The World is Not Enough,1999,439.5,158.3,277.637397
1,1,1,Quantum of Solace,2008,514.2,181.4,283.461963
2,2,2,Die Another Day,2002,465.4,154.2,301.815824
3,3,3,Tomorrow Never Dies,1997,463.2,133.9,345.929798
4,4,4,Casino Royale,2006,581.5,145.3,400.206469
5,5,5,Licence to Kill,1989,250.9,56.7,442.504409
6,6,6,The Living Daylights,1987,313.5,68.8,455.668605
7,7,7,A View to a Kill,1985,275.2,54.5,504.954128
8,8,8,Skyfall,2012,879.8,158.1,556.483238
9,9,9,Moonraker,1979,535.0,91.5,584.699454
10,10,10,GoldenEye,1995,518.5,76.9,674.252276
11,11,11,Octopussy,1983,373.8,53.9,693.506494
12,12,12,For Your Eyes Only,1981,449.4,60.2,746.511628
13,13,13,On Her Majesty's Secret Service,1969,291.5,37.3,781.501340
14,14,14,You Only Live Twice,1967,514.2,59.9,858.430718
15,15,15,The Spy Who Loved Me,1977,533.0,45.1,1181.818182
16,16,16,The Man with the Golden Gun,1974,334.0,27.7,1205.776173
17,17,17,Diamonds Are Forever,1971,442.5,34.7,1275.216138
18,18,18,Live and Let Die,1973,460.3,30.8,1494.480519
19,19,19,Thunderball,1965,848.1,41.9,2024.105012
20,20,20,From Russia With Love,1963,543.8,12.6,4315.873016
21,21,21,Goldfinger,1964,820.4,18.6,4410.752688
22,22,22,Dr. No,1962,448.8,7.0,6411.428571

In [42]:
data[6]

KeyError: 6