In [31]:
import pandas as pd


data=pd.read_csv("bmw.csv")

In [32]:
data.head()
data.sort_values(by=["price","mileage"],inplace=True,ascending=[True,True])

data.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9744,3 Series,1999,1200,Automatic,82000,Petrol,245,31.0,2.8
9696,3 Series,2004,1445,Manual,162000,Diesel,205,49.6,2.0
9554,1 Series,2007,1500,Manual,167000,Diesel,125,57.6,2.0
10006,3 Series,2000,1550,Automatic,93000,Petrol,270,29.7,2.5
7284,5 Series,2002,1595,Automatic,115000,Petrol,325,28.5,2.2

In [33]:
dummy=pd.read_csv("bmw.csv",usecols=["model","year","price","mileage"],squeeze=True)

In [34]:
dummy.sort_values(by=["price","mileage"],ascending=[True,True],inplace=True)
dummy["rank_price"]=dummy["price"].rank(ascending=False).astype(int)

In [35]:
dummy.tail(10)

          model  year   price  mileage  rank_price
2602         X7  2020   78490     4919          10
7024         X7  2020   79566     1000           9
6115   8 Series  2020   79991      151           8
5877         M5  2019   81140      551           7
721    8 Series  2019   84898     3185           6
1813   8 Series  2019   88980       88           5
4776         M5  2019   89900     2269           4
2909         M4  2017   89990     1336           3
5362         M4  2016   99950      771           2
3638   2 Series  2015  123456    33419           1

In [36]:
dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10781 entries, 9744 to 3638
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   model       10781 non-null  object
 1   year        10781 non-null  int64
 2   price       10781 non-null  int64
 3   mileage     10781 non-null  int64
 4   rank_price  10781 non-null  int32
dtypes: int32(1), int64(3), object(1)
memory usage: 463.2+ KB

In [37]:
dummy[dummy["model"] == 'X7'].head()

Empty DataFrame
Columns: [model, year, price, mileage, rank_price]
Index: []

In [56]:
temp="M5"
mask= dummy["model"].astype(str) == temp

dummy[mask]

Empty DataFrame
Columns: [model, year, price, mileage, rank_price]
Index: []

In [57]:
dummy["model"].astype(str) == temp

9744     False
9696     False
9554     False
10006    False
7284     False
         ...
1813     False
4776     False
2909     False
5362     False
3638     False
Name: model, Length: 10781, dtype: bool